# Application
ENVIRONMENT="Development" #Development, Staging, Production
PORT=3000

# Log System
FILE=general #log file name
FOLDER=logs #log folder name
JWT_PASS=
DATABASE_URL="postgresql://docker:docker@localhost:5432/weparty?schema=public"